type project
owners
    Damian Reeves
authors 
    Damian Reeves
projectUrl
    http://github.com/DamianReeves/Kollege
iconUrl
    https://raw.githubusercontent.com/DamianReeves/Kollege/master/docs/files/img/logo.png
licenseUrl
    http://github.com/DamianReeves/Kollege/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    A eventsourcing sample app
description
    A eventsourcing sample app


